html, body {
  height: 100%;
}

.pointer {
  cursor:url('HO Hand1.png')
}

.wrapper {
  min-height: 100%;
  position: relative;
  padding-bottom: 5em;
  box-sizing: border-box;
}

.fixed-top {
  padding-top: 40px;
}

.navbar {
  margin-right: 0;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #231f20;
  height: 400px;
  padding: 50px 0px 50px 0px;
  color: white;
}

.footer-text-styles {
  text-transform: uppercase;
}

.footer-text-styles a {
  text-decoration: none;
  color: white;
}

.underline {
  border-bottom: 1px solid white;
}

.social-border {
  border: 2px solid white;
  width: 100%;
  vertical-align: text-top;
  padding: 10px 0px 10px 0px;
  margin: 20px 0px 20px 0px;
}

i {
  text-align: center;
}


.main-content-style {
	text-align: center;
  margin: 0px 50px 0px 50px;
}

.upper-case-top-home-screen {
	text-transform: uppercase;
  margin-bottom: 25px;
}

.home-page-img-style {
	text-align: center;
  margin-bottom: 50px;
}

.buy-now-btn-style {
  margin-top: 25px;
  margin-bottom: 125px;
}

.btn-styles {
	background-color: black;
	border: none;
	color: white;
  width: 25%;
}

.btn-styles1 {
  background-color: white;
  border: 2px solid black;
  color: black;
  width: 25%;
}

.main-glove-homepage {
  margin-bottom: 25px;
}

.whole-sale-page-break {
  margin-top: 125px;
  width: 100%;
  height: 200px;
  color: white;
  background-color: black;
  vertical-align: center;
}

.whole-sale-page-break1 {
  text-transform: uppercase;
}

.whole-sale-button {
  text-decoration: underline;
  color: white;
}

.vertical-align-wholesale {
  padding-top: 60px;
}

.home {
  margin-top: 110px;
}

.nav-item {
  margin: 0px 10px 0px 10px;
}

.navbar {
  background-color: #231f20;
  padding: 20px;
  margin-bottom: 10px;
}

.nav-item {
  color: white;
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}

.nav-item a {
  text-decoration: none;
  color: white;
}

#menu {
  background: rgba(0,0,0,0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 1000%;
  margin-top: 98px;
}

@media only screen and (min-width: 500px) { 
  .modal-padding {
  padding: 100px;
  font-size: 24px;
  text-transform: uppercase;
  }
}

@media only screen and (max-width: 500px) {
  .modal-padding {
  padding: 10px 20px 0px 20px;
  font-size: 12px;
  text-transform: uppercase;
  }
}

.modal-padding a {
  text-decoration: none;
  color: white;
}

.text-white {
  color: white;
}

.snow-main-styles {
  height: 30vw;
  margin-top: 100px;
}

.snow-right-pic-styles {
  margin-bottom: 200px%
}

.text-product-homepage {
  margin-top: 20%;
}

.text-product-homepage h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 50px;
}

.text-product-homepage p {
  text-align: center;
  font-weight: bold;
  line-height: .7em;
  font-size: 1.4em;
}

.btn-styles2 {
  width: 53%;
  background-color: black;
  border: none;
}

hr {
  border: none;
  height: 50px;
  background-color: black;
}

.text-product-homepage1 h1 {
  font-weight: bold;
}

.text-product-homepage1 p {
  font-weight: 600;
  line-height: .7em;
}

.nick-russel-spacer {
  margin-bottom: 25px;
}

.text-product-homepage1 {
  margin-top: 15%;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/*/*Side Bar Nav*/

/*.nav-sidebar { 
    width: 100%;
    padding: 8px 0; 
    border-right: 1px solid #ddd;
}
.nav-sidebar a {
    color: #333;
    -webkit-transition: all 0.08s linear;
    -moz-transition: all 0.08s linear;
    -o-transition: all 0.08s linear;
    transition: all 0.08s linear;
    -webkit-border-radius: 4px 0 0 4px; 
    -moz-border-radius: 4px 0 0 4px; 
    border-radius: 4px 0 0 4px; 
}
.nav-sidebar .active a { 
    cursor: default;
    background-color: #428bca; 
    color: #fff; 
    text-shadow: 1px 1px 1px #666; 
}
.nav-sidebar .active a:hover {
    background-color: #428bca;   
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis; 
}

/* Right-aligned sidebar */
/*.nav-sidebar.pull-right { 
    border-right: 0; 
    border-left: 1px solid #ddd; 
}
.nav-sidebar.pull-right a {
    -webkit-border-radius: 0 4px 4px 0; 
    -moz-border-radius: 0 4px 4px 0; 
    border-radius: 0 4px 4px 0; 
}*/

/*End of sidenav*/


.size-buttons {
  height: 45px;
  width: 15%;
  margin-right: 6px;
  margin-left: 7px;
  text-align: center;
  border: 2.5px solid black;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.3em;
  background-color: white;
}

.quantity-btn {
  width: 20.5%;
  height: 45px;
  text-align: center;
  border: 2.5px solid black;
  border-radius: 5px;
  margin-top: 2px;
  font-weight: 900;
  font-size: 1.3em;
}

.cart-button {
  height: 45px;
  width: 100%;
  text-align: center;
  border: 2.5px solid black;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.3em;
}

.model-btn {
  width: 78%;
  height: 45px;
  border: 2.5px solid black;
  border-radius: 5px;
  font-weight: 900;
  font-size: 1.3em;
  text-align: center;
}

.snow-productpage-header {
  padding-left: 0px !important;
  margin-top: 120px;
}

.snow-productpage-header h1 {
  font-weight: 800;
}

.more-space {
  margin-top: 200px;
}

.navbar-side {
  height: 100%;
  width: 15%;
  position: fixed;
  top: 98px;
  left: 0;
  padding: 0;
  list-style: none;
  border-right: 2px solid #000;
  background-color: #fff;
  overflow-y: scroll;
  z-index: 1000;
}

#navbarSideButton {
  position: fixed;
  left: 0;
  height: 75vh;
  z-index: 9999;
}

.displayblock {
  display: block;
}

.navbar-side-item {
  padding: 1.5rem 0;
  margin: 0;
  border-bottom: 2px solid #ccc;
  height: 5rem;
}

.side-link {
  padding-left: 2rem;
}

.navbar-side {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

.reveal {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: 600ms ease;
  transition: 600ms ease;
}

.overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #ccc;
  opacity: 0.6;
  z-index: 990;
}

.hide-on-click {
  opacity: 0;
}

.img-margin {
  margin-top: 15%;
}

button:focus {
  outline:0;
}
.product-page-bottom-pictures {
  float: right;
}

.snow-product-first-paragraph1 {
  margin-bottom: 35px;
  margin-top: 35px;
}

.snow-product-first-paragraph2 {
  margin-bottom: 55px;
}

.snow-sub-footer {
  z-index: -1;
  margin-top: -450px;
}

.home-snow-img {
  width: 100%;
}

.product-landing-page-container {
  margin-left: 100px;
  margin-right: 100px;
}

.landing-page-footer {
  width: 100%;
  margin-bottom: -80px;

}

.snow-landing-footer {
  z-index: -1;
}

.product-page-bottom-content {
  margin-top: 150px;
}

.snow-productpage-header {
  text-align: center;
}







